<!DOCTYPE html>
<html>

<head>
    <title>New Patient</title>
</head>

<body>
    <div>
        <h1>New Patient</h1>
        <p>Your email adress is used to manage your Trustee and receive notification of activity. We will not share this
            email adress beyond our community support and billing activity and you can cancel anytime.</p>
        <form method="POST" style="margin-top: 20px;">
            <input type="checkbox" id="privacy" name="privacy">
            <label for="privacy">I have read the Privacy Policy and agree.</label><br>
            <input name="email">
            <input type="submit">
        </form>
    </div>
</body>

</html>